click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
nltk==3.3
numpy==1.15.1
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
h5py==2.8.0
keras==2.2.2
keras-applications==1.0.4
keras-preprocessing==1.0.2
scipy==1.1.0
six==1.11.0
boto3==1.8.6 
botocore==1.11.6
tensorflow==1.10
bz2file==0.98
gensim==3.5.0
s3transfer==0.1.13
smart-open==1.6.0
urllib3==1.23
simplejson==3.16.0
lmdb==0.94
atomicwrites==1.2.1 
attrs==18.2.0 
more-itertools==4.3.0 
pathlib2==2.3.2 
pluggy==0.7.1 
py==1.6.0 
pytest==3.8.0 
scandir==1.9.0
pathlib==1.0.1
spacy==2.0.12