commands:
  install nltk: 
    command: sudo pip install nltk
    ignoreErrors: true
  install nltk stopwords:
    command: sudo python -m nltk.downloader -d /usr/share/nltk_data stopwords
    ignoreErrors: true
  install nltk wordnet:
    command: sudo python -m nltk.downloader -d /usr/share/nltk_data wordnet
    ignoreErrors: true
  download wiki vec:
    command: |
      cd ../../
      sudo mkdir data
      sudo aws s3 sync s3://flasklstm data

packages:
  yum:
    python27-devel.x86_64: []
