commands:
  download and install numpy:
    command: sudo pip install numpy
  install nltk: 
    command: sudo pip install nltk
    ignoreErrors: true
  install nltk stopwords:
    command: sudo python -m nltk.downloader -d /usr/share/nltk_data stopwords
    ignoreErrors: true
  install nltk wordnet:
    command: sudo python -m nltk.downloader -d /usr/share/nltk_data wordnet
    ignoreErrors: true
  download and install pytest:
    command: sudo pip install pytest
  install c++:
    command: |
      sudo yum install gcc-c++
      y
  install lmdb:
    command: sudo pip install lmdb
  install libffi-devel:
    command: |
      sudo yum install libffi-devel
      y

packages:
  yum:
    python27-devel.x86_64: []
